
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-back {
    position: absolute;
    left: 0;
    top: 2%;
    width: 100%;
  }

.flip-card-back, .flip-card-front {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

  .flip-card-back {
    transform: rotateY(180deg);
  }

  

/*------------Elements */
td {
    padding: 10px;
}

a {
    cursor: pointer;
}

.card {
    --bs-card-border-color: #41464b;    
}


/*------------ Backgrounds*/

.banner {
    height: 75vh; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 8px 8px #212529 inset;
}

.banner-1 {
    background-image: url('https://res.cloudinary.com/dcyv0gszf/image/upload/v1663501587/home-specials_gfbnwg.webp');
}

.banner-2 {
    background-image: url('https://res.cloudinary.com/dcyv0gszf/image/upload/v1663763494/static/images/kids-offer.82c9839b2f14.webp'); 
}


/*------------Navbar*/

.cart-item-count {
    position: absolute;
    top: -2px;
    left: 20px;
    background-color: rgb(237, 29, 29);
    color: #fff;
    width: fit-content;
    min-width: 15px;
    padding: 4px;
    text-align: center;
    line-height: 10px;
    border-radius: 50%;
}

/*------------Home page */

.specials-header h2, 
.booking-header h2,
.kids-offer h2 {
    font-weight: 500;
    font-family: 'Brush Script MT', cursive;
    color: rgb(210, 79, 13);
}

.specials-header,
.booking-header {
    padding: 30px;
    background-color: hsla(50, 100%, 59%, 0.9);
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
}

.kids-offer {
    position: absolute;
    top: 30%;
    left: 10%;
    padding: 30px;
    background-color: hsla(0, 0%, 0%, 0.7);
    border-radius: 50%;
    text-align: center;
}


/*-------------- Booking page */

.customer-booking img {
    max-width: 200px;
}

/*-------------- Cart page */

.cart-img {
    width: 40%;
    min-width: 125px;
}

.chg-quantity {
    border-radius: 5px; 
    max-height: 35px;  
}

.chg-quantity-arrow {
    display: block;
    height: 10px;
    margin: 5px;
    cursor: pointer;
}

.chg-quantity-arrow:hover{
	opacity: .6;
}


/*-------------- Checkout page*/


.input-field input, 
.input-field select {
    margin: 10px 0;
    height: 35px;
    width: 75%;
    border-radius: 7px;
}

/*-------------- Footer */

.footer-icon  {
    color: white;
    transition: all 0.2s ease-in;
}

.bi-instagram:hover {
    color: blueviolet;
}

.bi-facebook:hover {
    color: blue;
}

.bi-github:hover {
    color: black;
}

.bi-linkedin:hover {
    color: blue;
}


/*----------Language Select*/
.es::before {
    background-image: url("https://flagcdn.com/w80/es.png");
}

.sv::before {
    background-image: url("https://flagcdn.com/w80/se.png");
}

.us::before {
    background-image: url("https://flagcdn.com/w80/us.png");
}

.selected-lang::before {
    background-image: url("https://flagcdn.com/w80/us.png");
}

.lang::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 32px;
    margin-right: 10px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}


/*----------Logo*/

.logo-img {
    position: absolute;
    top: 10px;
    border-radius: 50%;
    height: 100px;
    z-index: 1;
}

.logo-brand-link {
    display: none;
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    font-size: 3rem;
}


/*Bootstrap classes */
.dropdown-menu[data-bs-popper] {
    left: -140px;
    width: fit-content;
  }
  

/* Notifications */
.notification {
    position: fixed;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    min-width: 30%;
    width: fit-content;
}

/*----------Media Queries*/

@media (max-width: 990px) {
    .logo-img {
        left: 40px;
    }

    .delete-all {
        position: absolute;
        right: 10%;
    }
}

@media (max-width: 768px) {
    .logo-img-link {
        display: none;
    }

    .logo-brand-link {
        display: block;
    }

    .delete-all {
        right: 0;
    }
}

@media (max-width: 576px){
    .cart-img {
        position: absolute;
        left: 5%;
        max-width: 150px;
    }

    .translate-cart-img {
        transform: translateY(25%);
    }

    .delete-all {
        position: static;
    }

    .notification {
        width: 60%;
    }
}

@media (max-width: 400px){

    .customer-booking {
        text-align: center !important;
    }

    .card-small-screen {
        width: 100%;
        text-align: center !important;
    }

    .booking-footer-content {
        float: none !important;
        width: 75%;
    }

    .booking-footer {
        text-align: center;
    }

    .translate-cart-img {
        transform: translateY(50%);
    }

    .notification {
        width: 100%;
    }
}