{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Best Quality Seafood Ahooy. Come Alone, in Pairs, or In Groups, All Are Welcome!">
  <title>UnderDaC | {% block title %}{% endblock %}</title>

  <link rel="icon" href="https://res.cloudinary.com/dcyv0gszf/image/upload/v1663512359/favicon-32x32_ndidli.png">

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!--Mapbox-->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet'>

  <!--Bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>


  <!--Custom CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <!--Custom JS -->
  <script>
    let user = '{{ request.user }}';
    let csrftoken = '{{ csrf_token }}';
  </script>
  <script src="{% static 'js/base.js' %}" defer></script>
</head>

<body class="bg-dark text-light">
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <!--Logo-->
        <a href="{% url 'home' %}" class="navbar-brand logo-img-link" aria-label="Main Logo"><img src="https://res.cloudinary.com/dcyv0gszf/image/upload/v1663501639/logo_wnvckb.png"
          alt="Main logo" class="logo-img"></a>
        <a href="{% url 'home' %}" class="navbar-brand logo-brand-link">UnderDaC</a>
        <!--Toggle hamburger button-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--Top Navbar menu-->
        <!--Don't displpay if user is in non-native views-->
        {% if cart_count >= 0 %}
        <div class="collapse navbar-collapse navmenu justify-content-end">
          <ul class="navbar-nav">

            <!--Display the earliest booking of the user if the user has a booking -->
            {% if customer_bookings %}
            <div class="nav-item mx-4">
              <a href="{% url 'my_bookings' %}" class="nav-link">
                <p class="mb-0">Hello {{ user.first_name|capfirst }}, don't forget your booking at The {{ customer_bookings.0.restaurant.name }}</p>
                <p class="text-center mb-0">{{ customer_bookings.0.date }}, {{customer_bookings.0.time}}</p></a>
            </div>
            {% endif %}

            <!--If user is logged in, display the logout button -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
            </li>
            <!--If the user is not logged in, display login or register options-->
            {% else %}
            <li class="nav-item">
              <a href="{% url 'account_login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
            </li>
            {% endif %}

            <!--Link to cart-->
            {% if cart_count != 0 %}
            <li class="nav-item">
              <a href="{% url 'cart' %}" class="nav-link" aria-label="Cart button"><i class="bi bi-cart"></i>
                <span class="cart-item-count">{% if cart_count %}{{ cart_count }}{% else %}0{% endif %}</span>
              </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link"  data-bs-toggle="dropdown" type="button">Account <i class="bi bi-person-fill text-light"></i></span>
              <div class="dropdown">
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li class="px-3 text-decoration-underline">Logged in as {{ user.first_name|capfirst }}</li>
                  <li><a class="dropdown-item" href="{% url 'my_bookings' %}">My Reservations</a></li>
                  <li><a class="dropdown-item" href="{% url 'my_details' %}">My Details</a></li>
                </ul>
              </div>
            </li>
            {% endif %}
            <!--Page Language selection-->
            <li class="nav-item d-none">
              <div class="dropdown">
                <button class="btn lang selected-lang" data-bs-toggle="dropdown" type="button" aria-label="Language selection"></button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item lang sv" aria-label="swedish flag" href="#">Svenska</a></li>
                  <li><a class="dropdown-item lang us" href="#" aria-label="american flag">English</a></li>
                  <li><a class="dropdown-item lang es" href="#" aria-label="spanish flag">Español</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    <!--Lower navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <!--Navbar Options-->
        <div class="collapse navbar-collapse navmenu">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'menu' %}" class="nav-link">Menu</a>
            </li>
            <li class="nav-item">
              <!--Blank anchor tag for styling symmetry-->
              <a href="{% url 'restaurant_booking' 'Atlantic' %}" class="nav-link">Book Table</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Alert pop-up-->
    <div class="update-cart-alert"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
  </main>
  <!--Footer-->
  <footer class="mt-5 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center my-3 fs-4">
            <a href="https://github.com/RobinGJonsson/" target="_blank" aria-label="github link"><i
                class="bi bi-github mx-4 footer-icon"></i></a>
            <a href="https://linkedin.com/in/robin-jönsson-4374641a6" target="_blank" aria-label="linkedin link"><i
                class="bi bi-linkedin mx-4 footer-icon"></i></a>
            <a href="https://facebook.com/" target="_blank" aria-label="faceboook link"><i class="bi bi-facebook mx-4 footer-icon"></i></a>
            <a href="https://instagram.com/" target="_blank" aria-label="instagram link"><i class="bi bi-instagram mx-4 footer-icon"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="copyright text-center">
              <p><small>© UnderDaC 2022</small></p>
              <p><small>Developed by Robin Jonsson</small></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>