{% extends 'base.html' %}
{% load static %}
{% block title %}Table Booking{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <!--Total item count-->
            <p class="fs-4">Items: <strong>{{ order.get_cart_item_count }}</strong></p>
            <!--Total price-->
        </div>
        <div class="col-5">
            <p class="fs-4">Total: <strong>${{ order.get_cart_total_price|floatformat:2 }}</strong></p>
        </div>
        <div class="col float-end">
            <!--Only display checkout button if cart is not empty-->
            {% if order.get_cart_item_count > 0 %}
            <a class="btn btn-success float-end" href="{% url 'checkout' %}">Checkout</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <!--Header row-->
    <div class="row border-bottom border-light text-end text-sm-start d-none d-sm-flex">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">Item</div>
        <div class="col-sm-2">Price</div>
        <div class="col-sm-2">Quantity</div>
        <div class="col-sm-2">Total</div>
    </div>
    <!--Loop through cart each cart item and give it a row-->
    {% for item in items %}
    <div class="row p-3 border-bottom border-light text-end text-sm-start">
        <div class="col-sm-3 position-relative"><img class="cart-img  rounded" src="{{ item.item.image.url }}" alt="">
        </div>
        <div class="col-sm-3">
            <p>{{ item.item.name }}</p>
        </div>
        <div class="col-sm-2">
            <p>${{ item.item.price|floatformat:2 }}</p>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
            <div>{{ item.quantity }}</div>
            <!--Change item quantity buttons-->
            <span class="chg-quantity bg-light ms-2">
                <img data-item="{{ item.item.id }}" data-action="add" class="chg-quantity-arrow update-cart"
                    src="{% static 'images/arrow-up.png' %}" alt="Change quantity up">
                <img data-item="{{ item.item.id }}" data-action="subtract" class="chg-quantity-arrow update-cart"
                    src="{% static 'images/arrow-down.png' %}"
                    alt="Change quantity down">
            </span>
        </div>
        <div class="col-sm-2">
            <p>${{ item.get_total|floatformat:2 }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/cart.js' %}"></script>

{% endblock %}