{% extends 'base.html' %}
{% load static %}
{% block title %}Table Booking{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3 col-6">
            <!--Total item count-->
            <p class="fs-4">Items: <strong>{{ order.get_cart_item_count }}</strong></p>
            <!--Total price-->
        </div>
        <div class="col-sm-5 col-6">
            <p class="fs-4">Total: <strong>${{ order.get_cart_total_price|floatformat:2 }}</strong></p>
        </div>
        <div class="col float-end">
            <!--Only display checkout button if cart is not empty-->
            {% if order.get_cart_item_count > 0 %}
            <a class="btn btn-success float-end" href="{% url 'checkout' %}">Checkout</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <!--Header row-->
    <div class="row border-bottom border-light text-end text-sm-start d-none d-sm-flex">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">Item</div>
        <div class="col-sm-2">Price</div>
        <div class="col-sm-2">Quantity</div>
        <div class="col-sm-2">Total</div>
    </div>
    <!--Loop through cart each cart item and give it a row-->
    {% for item in items %}
    <div class="row py-3 pe-3 border-bottom border-light text-end text-sm-start">
        <div class="col-sm-3 position-relative"><img class="cart-img  rounded" src="{{ item.item.image.url }}" alt="">
        </div>
        <div class="col-sm-3">
            <p class="my-0">{{ item.item.name }}</p>
        </div>
        <div class="col-sm-2">
            <p class="my-0">${{ item.item.price|floatformat:2 }}</p>
        </div>
        <div class="col-sm-2 d-flex justify-content-sm-start justify-content-end">
            <div>{{ item.quantity }}</div>
            <!--Change item quantity buttons-->
            <span class="chg-quantity bg-light ms-2">
                <img data-item="{{ item.item.id }}" data-action="add" class="chg-quantity-arrow update-cart"
                    src="https://res.cloudinary.com/dcyv0gszf/image/upload/v1663763492/static/images/arrow-up.23551bae7cb2.png" alt="Change quantity up">
                <img data-item="{{ item.item.id }}" data-action="subtract" class="chg-quantity-arrow update-cart"
                    src="https://res.cloudinary.com/dcyv0gszf/image/upload/v1663763493/static/images/arrow-down.89a5ec1ed94e.png"
                    alt="Change quantity down">
            </span>
        </div>
        <div class="col-sm-2">
            <p class="my-0">${{ item.get_total|floatformat:2 }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<script src="https://res.cloudinary.com/dcyv0gszf/raw/upload/v1663763491/static/js/cart.aa0bc6c2aa8d.js"></script>

{% endblock %}