{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <!--Order Summary-->
        <div class="col-lg-6">
            <h2>Order Summary</h2>
            <hr>
            <div class="row border-bottom border-light text-end text-sm-start d-none d-sm-flex">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">Item</div>
                <div class="col-sm-2">Price</div>
                <div class="col-sm-2">Quantity</div>
                <div class="col-sm-2">Total</div>
            </div>
            {% for item in items %}
            <div class="row p-3 border-bottom border-light text-end text-sm-start">
                <div class="col-sm-3 position-relative"><img class="cart-img rounded" src="{{ item.item.image.url }}" alt=""></div>
                <div class="col-sm-3">
                    <p>{{ item.item.name }}</p>
                </div>
                <div class="col-sm-2">
                    <p>${{ item.item.price|floatformat:2 }}</p>
                </div>
                <div class="col-sm-2">
                    <p>{{ item.quantity }}</p>
                </div>
                <div class="col-sm-2">
                    <p>${{ item.get_total }}</p>
                </div>
            </div>
            {% endfor %}
            <br>
            <h5>Total: {{ order.get_cart_total_price|floatformat:2}}</h5>
            <h5>Items: {{ order.get_cart_item_count }}</h5>
        </div>
        <div class="col-md-6 mt-lg-0 mt-5">
            <h2>Delivery Information</h2>
            <hr>
            <form class="form">
                {% csrf_token %}
                <div class="input-field">
                    <select name="restaurant" id="restaurant" required>
                        <option value="">Restaurant</option>
                        {% for restaurant in restaurants %}
                        <option value="{{restaurant}}">{{restaurant}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field">
                    <input name="delivery_time" type="time" required>
                </div>
                <!--Ask for customer info if they are not logged in -->
                {% if not user.is_authenticated %}
                <div class="customer-info">
                    <div class="input-field">
                        <input class="w-75" name="fname" type="text" placeholder="First Name.." required>
                    </div>
                    <div class="input-field">
                        <input class="w-75" name="lname" type="text" placeholder="Last Name.." required>
                    </div>
                    <div class="input-field">
                        <input class="w-75" id="email" name="email" type="email" placeholder="Email.." required>
                    </div>
                    <div class="input-field">
                        <input class="w-75" id="phone" name="phone" type="tel" placeholder="Phone.." required>-
                    </div>
                </div>
                {% endif %}
                <!--If user wants delivery ask for relevant delivery info-->
                <div class="delivery-info d-none">
                    <div class="input-field">
                        <input name="city" type="text" placeholder="City..">
                    </div>
                    <div class="input-field">
                        <input name="address" type="text" placeholder="Address..">
                    </div>
                </div>
                <!--Ask if customer wants delivery-->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="delivery" role="switch"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Delivery</label>
                </div>
                <input class="make-payment btn btn-success" type="submit" value="Place Order">
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/checkout.js' %}"></script>

{% endblock %}