{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Home{% endblock %}

{% block content %}

<!--Displays navigation to table booking and menu-->
<section class="mt-3 position-relative banner banner-1">
    <a href="{% url 'restaurant_booking' 'Atlantic' %}" class="text-decoration-none" aria-label="link to reserve a table">
        <div class="booking-header my-5 mx-sm-5 position-absolute top-0 start-0">
            <h2 class="display-1">Book a table</h2>
        </div>
    </a>
    <a href="{% url 'menu' %}" class="text-decoration-none" aria-label="link to menu">
        <div class="specials-header my-5 mx-sm-5 position-absolute bottom-0 end-0">
            <h2 class="display-1">Today's Special</h2>
        </div>
    </a>
</section>

<!-- Kids section -->
<section class="position-relative banner banner-2">
    <div class="kids-offer">
        <h2 class="display-1">Kids Eat For Half the Price</h2>
    </div>
</section>

<!--Restaurant section-->
<section class="bg-dark text-light">
    <div class="accordion accordion-flush" id="map-accordion">
        <div class="row text-center">
            {% for restaurant in restaurants %}
            <div class="col-sm-12 col-md-6 col-lg-4 py-3 mx-auto">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <a href="{% url 'restaurant_booking' restaurant.name %}"
                            class="text-decoration-none text-reset" aria-label="{{ restaurant.name }}">
                            <h3 class="card-title">{{ restaurant.name }}</h3>
                        </a>
                        <img class="img-fluid card-img" src={{restaurant.image.url}} alt="Image of restaurant">
                        <!-- Description -->
                        <div class="card-text text-start lh-lg">
                            <p><strong>Address:</strong> {{ restaurant.address }}</p>
                            <p><strong>Phone:</strong> {{ restaurant.phone }}</p>
                            <p><strong>Monday - Friday:</strong> {{ restaurant.open_times_weekdays }}</p>
                            <p><strong>Saturday - Sunday: </strong>{{ restaurant.open_times_weekends }}</p>
                        </div>
                        <!-- Map of address -->
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="heading{{restaurant.map_num}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{restaurant.map_num}}" aria-expanded="true"
                                    aria-controls="collapse{{restaurant.map_num}}">
                                    Map
                                </button>
                            </h4>
                            <div id="collapse{{restaurant.map_num}}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{restaurant.map_num}}">
                                <div class="accordion-body p-0">
                                    <div id='map{{restaurant.map_num}}'
                                        style='height: 300px; border-radius: 10px;'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--Maps to restaurants-->
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm9iaW45NCIsImEiOiJjbDcyMWU5ZDEwN2k3M29tdDljMmFqdGF4In0.vVn3Av05sE9QZnS_noxQPA';
    const map1 = new mapboxgl.Map({
        container: 'map1',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [139.74649932649214, 35.71480730222833],
        zoom: 15, // starting zoom
        projection: 'globe'
    });

    const map2 = new mapboxgl.Map({
        container: 'map2',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-73.9904925682394, 40.72205890951183],
        zoom: 15,
        projection: 'globe'
    });

    const map3 = new mapboxgl.Map({
        container: 'map3',
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-157.85893694257192, 21.29607724060857],
        zoom: 15, // starting zoom
        projection: 'globe'
    });
</script>

{% endblock %}