{% extends 'base.html' %}
{% load static %}
{% block title %}Menu{% endblock %}

{% block content %}

<!--Give each menu category a row-->
{% for category in categories %}
<div class="row mx-5">
    <h1 class="text-light text-center">{{category}}</h1>
    <!--Loop through each menu item and place them on the row if it has the right menu category-->
    {% for item in menu_items %}
    {% if item.category == category %}
    <div class="col-md-4 col-sm-6 mt-3 mx-auto">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <img src={{item.image.url}} alt="Image of {{ item.name }}" class="card-img">
                <h5 class="card-title">{{item.name}}</h5>
                <!--Show half price of kid's menu-->
                {% if category == 'Kids Menu' %}
                <p class="card-text">
                    {{ item.description }}
                    <strong>
                        <h3><span class="text-decoration-line-through">${{ item.price }} {{ item.half_price }}</span></h3>
                    </strong>
                </p>
                {% else %}
                <p class="card-text">
                    {{ item.description }}
                    <strong>
                        <h3>${{ item.price }}</h3>
                    </strong>
                </p>
                {% endif %}
                <!--Add item to cart-->
                <form method="POST">
                    {% csrf_token %}
                    <input data-item="{{item.id}}" data-action="add" class="btn btn-primary update-cart" type="submit"
                        value="Add To Order" name="hello">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
<script src="{% static 'js/cart.js' %}"></script>

{% endblock %}