{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Table Booking{% endblock %}

{% block content %}


<div class="row my-3 justify-content-center">
    <div class="col">
        <h2 class="display-3 text-center">Restaurants</h2>
    </div>
    <hr>
    <div class="d-grid gap-2 col-7 col-sm-3">
        <a href="{% url 'restaurant_booking' 'Atlantic' %}" class="my-2 btn btn-danger">The Atlantic</a>
    </div>
    <div class="d-grid gap-2 col-7 col-sm-3">
        <a href="{% url 'restaurant_booking' 'Indian' %}" class="my-2 btn btn-danger">The Indian</a>
    </div>
    <div class="d-grid gap-2 col-7 col-sm-3">
        <a href="{% url 'restaurant_booking' 'Pacific' %}" class="my-2 btn btn-danger">The Pacific</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="display-1 text-center text-light">The {{ restaurant.name }}</h1>
    </div>
</div>
<!--Display restaurant information-->
<div class="row border-top border-3 border-light">
    <div class="col">
        <div class="container text-center">
            <img class="mw-100" src="{{ restaurant.image.url }}" alt="Picture of the restaurant">
        </div>
        {% if customer_bookings %}
        <div class="row border-top border-3 border-light">
            <div class="col-md-8 offset-md-2">
                <div class="container mt-3">
                    <center>
                        <h2 class="mt-4 mb-3 text-decoration-underline">Your Reservations at the {{ restaurant.name }}
                        </h2>
                    </center>
                    {% for booking in customer_bookings %}
                    <div class="card bg-dark text-light">
                        <div class="card-body customer-booking text-start">
                            <h5 class="card-title">Restaurant {{ booking.restaurant }}</h5>
                            <div class="row justify-content-between">
                                <div class="col-6 pe-0 card-small-screen">
                                    <!-- Description -->
                                    <p class="mt-3 card-text lh-lg">
                                        <strong>Date:</strong> {{ booking.date }}
                                        <br>
                                        <strong>Time:</strong> {{ booking.time }}
                                        <br>
                                        <strong>Number of Guests: </strong>{{ booking.guest_count }}
                                        <br>
                                    </p>
                                </div>
                                <div class="col-6 ps-1 text-end card-small-screen">
                                    <img class="img-fluid card-img" src={{booking.restaurant.image.url}}
                                        alt="Image of restaurant">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer booking-footer">
                            <a href="{% url 'update_booking' booking.id %}"
                                class="btn btn-info booking-footer-content mb-2">Change Booking</a>
                            <a href="{% url 'delete_booking' booking.id restaurant.name %}"
                                class="btn btn-danger float-end booking-footer-content mb-2">Delete Booking</a>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!--Display the customers bookings in this restaurant if they have any-->
<div class="container" id="form-section">
    <div class="row border-top border-3 border-light">
        <div class="col-md-6">
            {% if update %}
            <h2 class="text-center mt-3">Change Reservation</h2>
            {% else %}
            <h2 class="text-center mt-3">Make a Reservation</h2>
            {% endif %}
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="mt-3 btn btn-success" type="submit"
                    value="{% if update %}Update Reservation{% else %}Make Reservation{% endif %}">
            </form>
        </div>
        <div class="col-md-6">
            <br><br><br>
            <div class="my-5 ms-lg-3 display-6"><strong>Call Us:</strong> {{ restaurant.phone }}</div>
            <div class="my-5 ms-lg-3 display-6"><strong>Address:</strong> {{ restaurant.address }}</div>
            <div class="row ms-md-1 ms-lg-3">
                <div class="col-lg-6 p-0">
                    <div class="mt-2 fs-4">
                        <strong>Open Hours: </strong>
                    </div>
                </div>
                <div class="col-lg-6 pt-3 border border-1 border-light">
                    <div>
                        <p>Monday - Friday: <span class="float-end">{{ restaurant.open_times_weekdays }}</span></p>
                    </div>
                    <hr>
                    <div>
                        <p>Saturday - Sunday: <span class="float-end">{{ restaurant.open_times_weekends }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}