{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Table Booking{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1 text-center text-light">The {{ restaurant.name }}</h1>
        </div>
    </div>
    <div class="row border-top border-3 border-light">
        <div class="col fs-5">
            <div class="restaurant-img-container">
                <img src="{{ restaurant.image.url }}">
            </div>
            <div class="m-3">Call Us: <span>{{ restaurant.phone }}</span></div>
            <div class="m-3">Address: <span>{{ restaurant.address }}</span></div>
            <h3 class="m-3">Open Hours: </h3>
            <table class="fs-6 w-75 border border-1 border-light m-3">
                <tr class="work-days">
                    <td class="day">Monday - Friday</td>
                    <td class="time">{{ restaurant.open_times }}</td>
                </tr>
                <tr class="weekends border-top border-1 border-light">
                    <td class="day">Saturday - Sunday</td>
                    <td class="time">{{ restaurant.open_times }}</td>
                </tr>
            </table>
        </div>
    </div>

    {% endblock %}